article {
  position: relative;
  display: inline-block;
  width: 45%;
  margin: 0 4em 5em 4em;
  float: left;
}

article h3 {
  margin: 1.5em 0 1.5em 0;
  font-size: 2.3em;
  font-family: sans-serif;
  letter-spacing: .1em;
}

#fade_1 {
  opacity: 0.4;
}

#fade_2 {
  opacity: 0.2;
}

#fade_3 {
  opacity: 0.05;
}

article p {
  font-size: 1.4em;
  font-family: sans-serif;
}

.profile {
  position: absolute;
  display: inline-block;
  float: right;
  height: 90%;
}

.profile img {
  position: relative;
  display: inline-block;
  right: -0.6em;
  /*max-width: 100%;*/
  /*height: auto;*/
  max-height: 96%;
  max-width: auto;
}

footer {
  position: absolute;
  top: 92%;
}