body {
  margin: 0;
  background-color: #cdd;
}

* a {
  color: #003070;
  text-decoration: none;
}

* a:hover {
  color: #005090;
  text-decoration: underline;
}

nav {
  margin: -15px, 0px, 15px, 0px;
  padding: 15px;
  background-color: #9accc0;
  background-color: #679997;
}

.name {
  display: inline-block;
  margin-left: -30px;
  width: 400px;
  text-align: left;
  text-decoration: none;
  color: #eee;
  font-size: 2.2em;
  font-family: Verdana, sans-serif;
  letter-spacing: 14px;
}

.navigation {
  display: inline-block;
  position: relative;
  right: -140px;
  list-style-type: none;
}

.navigation a {
  display: block;
  text-align: center;
  font-family: Verdana, sans-serif;
  width: 160px;
  font-size: 1.8em;
}

#wrapper {
  margin: 1% 2% 1% 2%;
  background-color: #cdd;
}

#profile {
  position: relative;
  float: left;
  display: inline-block;
  margin-bottom: 2em;
}

#profile img {
  max-height: 500px;
  width: auto;
}

#headlines {
  position: absolute;
  width: 56%;
  left: 40%;
  margin-top: 4em;
  height: auto;
  font-family: sans-serif;
}

#headlines h2 {
  font-size: 2.5em;
}

#headlines p {
  font-size: 1.5em;
}

#action-buttons {
  clear: both;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 60px 100px 60px 100px;
  width: 20%;
  height: 7em;
  border-radius: 20px;
  background-color: #679997;
}

.button a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: -1em;
  font-family: Verdana, sans-serif;
}

.button:hover {
  background-color: #78aaa8;
}

footer {
  position: relative;
  clear: both;
  background-color: #679997;
  width: 100%;
  height: 6em;
  top: 5em;
}

footer p {
  position: relative;
  display: inline-block;
  font-size: 1.4em;
  top: 1em;
  left: 1em;
  color: #eee;
}

footer div {
  position: relative;
  display: inline-block;
  float: right;
  top: 1em;
}
