.button {
    background-color: #0dc;
    text-align: center;
    padding-top: 6px;
    font-family: arial, sans-serif;
    width: 100px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 3px 2px #666;
    margin: auto;
}

.hover {
    background-color: #0fd;
    cursor: pointer;
}

body {
    background-color: #ccc;
}